.navbarBanner {
    background-color: #232f3e;
    padding: 0 0 0 11px;
    display: flex;
    height: 39px;
    padding: 3px;
    justify-content: space-between;
    color: white;
}

/* Left Side */
.navbarBannerOptionsLeft {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

/* Options Styling */
.optionsNavberBanner {
    display: flex;
    padding: 8px 9px;
    justify-content: center;
    text-decoration: none;
    color: white;
    align-items: center;
    cursor: pointer;
    white-space: nowrap; 

    &:hover {
        border: 1px solid;
    }
}

.allOptionsNavbarBanner {
    font-size: 13px;
    padding-left: 5px;
    font-weight: 400;
}

/* Right Side */
.navbarBannerOptionsRight {
    display: flex;
    align-items: center;
    &:hover{
        border: 1px solid;
    }
}

.imgRight {
    height: 36px;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .navbarBanner {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }

    .navbarBannerOptionsLeft {
        flex-wrap: nowrap;
        overflow-x: auto;
        width: 100%;
        margin-bottom: 5px;
    }

    .optionsNavberBanner {
        padding: 5px 7px;
    }

    .navbarBannerOptionsRight {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .navbarBanner {
        padding: 0;
    }

    .optionsNavberBanner {
        padding: 5px 5px;
        font-size: 12px;
    }

    .imgRight {
        height: 30px;
    }
}
